
<%="Player 1 is #{$game.player1.player} / HP: #{$game.player1.hp}"%>

<br></br>

<%="Player 2 is #{$game.player2.player} / HP: #{$game.player2.hp}"%>

<br></br>

<form action= "/attack" method="post">
<input type="submit" value="Attack!">
</form>

<% if session[:display] %>
<p>-20 HP!</p>
<p><%= "#{$game.player2.player} has been attacked! It's super effective!" %></p>
<% session[:display] = false %>
<% end %>
